<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;C:/Program Files (x86)/eclipse helios SQS/plugins/com.cenqua.clover.core_3.0.2.v20100413110000.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER&quot; path=&quot;1&quot; type=&quot;4&quot;/&gt;&#13;&#10;"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.cenqua.clover.eclipse.reports.ForkingReporter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=" --testsIncludePattern &quot;C:/Users/PatrickF/eclipse workspaces/swt workspace/HTMLParser/**/*Test.java, C:/Users/PatrickF/eclipse workspaces/swt workspace/HTMLParser/**/Test*.java, C:/Users/PatrickF/eclipse workspaces/swt workspace/HTMLParser/**/*Tests.java&quot;--testsExcludePattern &quot;C:/Users/PatrickF/eclipse workspaces/swt workspace/HTMLParser/&quot; -a -i &quot;C:/Users/PatrickF/eclipse workspaces/swt workspace/HTMLParser/.clover/coverage.db&quot; -o &quot;C:\Users\PatrickF\eclipse workspaces\swt workspace\HTMLParser\coverage2.pdf&quot; -t &quot;HTMLParser Coverage Report (Q2)&quot; -tc 0 -f &quot;SourceDirective&quot; -s &quot;0 seconds&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx512m   -Djava.awt.headless=true -Dclover.license.path=&quot;C:\Users\PatrickF\AppData\Local\Temp\clover248248654143564582license&quot; -Dclover.eclipse.forking.reporter=com.cenqua.clover.eclipse.reports.FilteredReportJob$FilteredPDFReporter -Dclover.eclipse.license.token=M18wXzI6MTMwMTY2MTEzMDc1OQ=="/>
<stringAttribute key="org.eclipse.jdt.launching.VM_INSTALL_NAME" value="jre6"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_INSTALL_TYPE_ID" value="org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType"/>
</launchConfiguration>
