<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"./meta/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<!-- Connection -->
		<property name="connection.driver_class">
			org.hsqldb.jdbcDriver
		</property>
		<property name="connection.url">
			jdbc:hsqldb:hsql://localhost/ticketline
		</property>
		<property name="dialect">
			org.hibernate.dialect.HSQLDialect
		</property>

		<property name="connection.username">sa</property>
		<property name="connection.password"></property>
		
		
		
		
		<!-- mapping files -->
		<mapping resource="hbm/Artikel.hbm.xml" />
		<mapping resource="hbm/Belegung.hbm.xml" />
		<mapping resource="hbm/Auffuehrung.hbm.xml" />
		<mapping resource="hbm/Engagement.hbm.xml" />
		<mapping resource="hbm/Kategorie.hbm.xml" />
		<mapping resource="hbm/Saal.hbm.xml" />
		<mapping resource="hbm/Transaktion.hbm.xml" />
		<mapping resource="hbm/Veranstaltung.hbm.xml" />
		<mapping resource="hbm/Ticketcard.hbm.xml" />
		<mapping resource="hbm/Ort.hbm.xml" />
		<mapping resource="hbm/Reihe.hbm.xml" />
		<mapping resource="hbm/Bestellung.hbm.xml" />
		<mapping resource="hbm/Kuenstler.hbm.xml" />
	</session-factory>

</hibernate-configuration>